#app {
    margin: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
	  z-index:10000;
	  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
		transition: opacity 0.2s ease-in-out 0.5s;
}

#app {
    position: fixed;
  overflow: hidden;
  color: #ffffff;
  font-family: 'Montserrat',
  sans-serif;
  text-align: center;
  text-shadow: 0 0 5px 
#ffffff, 0 0 20px #000,
  0 0 30px #000;
}

#app h1 {
    --fontSize: 60px;
    --lineHeight: 80px;
    width: auto;
    height: calc(2 * var(--lineHeight));
    line-height: var(--lineHeight);
    margin: calc(50vh - var(--lineHeight)) auto 0;
    font-size: var(--fontSize);
}

#app a {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fd378d;
}

#app canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
}